body {
  background-color: #000000;
}

.repolink {
  text-decoration: none;
  margin-left: 45%;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
  font-family: ocr-aregular;
  color: #ffffff;
}

.repolink:hover {
  text-decoration: none;
  margin-left: 30%;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  color: #00ff00;
  font-size: 25px;
  font-family: ocr-aregular;
}

@font-face {
    font-family: ocr-aregular;
    src: url('../assets/Fonts/ocr-a_regular-webfont.woff2') format('woff2'),
         url('../assets/Fonts/ocr-a_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
