
body {
  font-family: ocr-aregular;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

a {
  color: #00ff00;
  text-decoration: none;
}

pre {
  font-size: 12.5px;
}

.bg_and_border {
  background-image: url(../assets/Background/bg2.gif);
  background-size: cover;
  background-origin: border-box;
  background-repeat: no-repeat;
  margin: 30px;
}


@font-face {
    font-family: ocr-aregular;
    src: url('../assets/Fonts/ocr-a_regular-webfont.woff2') format('woff2'),
         url('../assets/Fonts/ocr-a_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
